
<mat-card class="mycard">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p> First name: {{person.firstName}}</p>
    <p> Last name: {{person.lastName}}</p>
    <p> Age: {{person.age}}</p>
    <p> Address: {{person.address}}</p>
    <form>
      <mat-form-field>
        <input matInput placeholder="Name" value="{{person.firstName}}">
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>



