<p>event-binding works!</p>

<section>
  <button mat-button color="primary" (click)="save()">Save</button>
  <button mat-button color="warn" (click)="inc()">{{buttonName}}</button>
</section>

<section>
  <button mat-button color="primary" [disabled]="!btnEnabled">My button 1</button>
  <button mat-button color="warn" [disabled]="!btnEnabled">My button 2</button>

  <button mat-button color="warn" (click)="disable()">Disable</button>
  <mat-progress-spinner
    color="primary"
    [mode]="spinnerMode"
    value="50">
  </mat-progress-spinner>
</section>

<section>
  <p>
    <mat-checkbox color="warn" (change)="cbChange($event)">Disable / Enable</mat-checkbox>
  </p>
  <p>
    <mat-card>
      <mat-card-content>
        <mat-form-field>
          <mat-select matNativeControl required
                      [disabled]="selectDisable" (selectionChange)="selectionChange($event)">
            <mat-option value="1">Volvo</mat-option>
            <mat-option value="2">Saab</mat-option>
            <mat-option value="3">Mercedes</mat-option>
            <mat-option value="4">Audi</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <p>Selected option {{ selectedOption }}</p>
      </mat-card-actions>
    </mat-card>
  </p>
</section>

<section>
  <mat-card>
    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="First name"
          (input)="inputName = $event.target.value"
          [value]="inputName">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      Name: {{ inputName }}
    </mat-card-actions>
  </mat-card>
</section>

